<div class="page-main-wrapper">

    <div class="page-main-backdrop-wrapper">
        <div class="page-main-backdrop-top"></div>
        <div class="page-main-backdrop-bottom"></div>
    </div>

    <!-- Main page content -->
    <div class="page-main">
        <div class="page-slider">

            <!-- Slide 1 -->
            <div class="page-slide active">
                <div class="page-slide-caption-wrapper">
                    <div class="page-slide-caption"><span
                            class="text-large">Та стабильность,<br>
                              которую ты так давно искал... </span>
                        <br>
                        <div class="row">
                            <div class="col icon-configuration-md"></div>
                            <div class="col text-small">
                                <b>Виртуальные сервера повышенной
                                    надежности. </b><br>
                                <span class="sub-line">... от 5 USD в месяц</span>
                            </div>
                        </div>
                        <a class="btn" routerLink="/hosting">ПОДРОБНЕЕ</a>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="page-slide page-slide2">
                <div class="page-slide-caption-wrapper">
                    <div class="page-slide-caption" data-epage="/"
                         data-epath="/content/slide2" data-etype="/"
                         data-eeditor="ed"><span class="text-large">Никто не отвлечет вас<br> от самых важных дел вашей жизни ... </span>
                        <br>
                        <div class="row">
                            <div class="col icon-configuration-md"></div>
                            <div class="col text-small">
                                <b>Максимально быстрое реагирование на
                                    неприятности. </b><br>
                                <span class="sub-line">Вы даже не заметите.</span>
                            </div>
                        </div>
                        <a class="btn" routerLink="/dedicated">ПОДРОБНЕЕ</a>
                    </div>
                </div>
            </div>

            <div class="page-slider-controls">
                <span class="page-slider-control active">/</span>
                <span class="page-slider-control">/</span>
            </div>
        </div>
    </div>
    <section class="page-panel"></section>
</div>