.want,
.mselect__select,
#bsel-server-type {
  float: left;
}

select {
  appearance: none;
}

.helper-search-box {
  float: right;
}

.single-plan-wrapper {
  float: left;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#vh_content {
  display: flex;
}

