<div
class="advantages"
id="desc"
>
<div
    class="advantages-title"
    id="tarifs"
>
    Преимущества Backup от
        Inferno Solutions
</div>

<div class="advantage-item copy">
    <div class="item-title">Само собой</div>

    <div class="description">
        Вам не нужно уделять этому время и
            внимание. Настройте автоматическое
            резервное копирование и все данные (или частично
            выбранные) будут регулярно
            дублироваться на наших серверах.Работает само собой!
            Каждый день, весь год.
    </div>
</div>

<div class="advantage-item order">
    <div class="item-title">Мы всё распутаем</div>

    <div class="description">
        Мы знаем, как это происходит:
            опасаясь, что критически важные данные
            могут быть утеряны навсегда,вы в панике создаёте
            несколько архивов в разных
            местах. Вам нужна путаница в копиях? С нами вы можете
            избавиться от лишних
            точек резервирования.
    </div>
</div>

<div class="advantage-item security">
    <div class="item-title recovery">
        Уверенность в
            безопасности
    </div>

    <div class="description">
        Конечно, вы переживаете за
            сохранность ваших данных. Расслабьтесь! Мы –
            живой пример того, что можно довериться одному
            хостинг-провайдеру, который
            сохранит информацию со 100%-ной надёжностью. Мы уверены
            в своём
            оборудовании, специалистах и схемах работы.
    </div>
</div>

<div class="advantage-item recovery">
    <div class="item-title">
        Мгновенное возрождение без потерь
    </div>

    <div class="description">
        Помните, как в компьютерных играх?
            Героя убивают, но он тут же
            возрождается, полон сил.Так и у нас: если по каким-то
            причинам (человеческий
            фактор, пожар, восстание роботов) данные стали
            недоступны – вы можете их
            моментально восстановить, благодаря технологии

        <b>
            is

            <span class="accent-color">*</span>

            care
        </b>

        .
    </div>
</div>

<div class="advantage-item access">
    <div class="item-title">Всего пара кликов</div>

    <div class="description">
        Услуга резервного копирования
            данных подразумевает не только надёжное
            хранение и быстрое восстановление информации. Сервис
            также позволяет иметь
            лёгкий доступ к сохраняемым данным по FTP. Нужно просто
            открыть учётную
            запись на нашем сайте и найти соответствующий раздел…
    </div>
</div>

<div class="advantage-item equipment">
    <div class="item-title">Будь открыт идеальному</div>

    <div class="description">
        Стремление к лучшему живёт в
            каждом. Мы выбрали идеальное оснащение,
            но сделали это не просто так. От качества машин зависит
            весь наш бизнес,
            в котором мы тоже лучшие. Сдавать позиции – не в наших
            планах.
    </div>
</div>

<div class="advantage-item support">
    <div class="item-title">
        Открытый бренд – закрытые вопросы
    </div>

    <div class="description">
        Любые вопросы, даже если они вам
            кажутся нелепыми, вы можете задавать
            в нашу техподдержку не стесняясь. Вы можете быть
            продвинутым специалистом
            или полным «чайником» – вас всё равно поймут и пошагово
            объяснят всё, что
            нужно. Мы решаем любую вашу проблему в любое время
            суток.
    </div>
</div>

<div class="advantage-item service">
    <div class="item-title">Почувствуйте нашу заботу</div>

    <div class="description">
        С Backup-сервисом от Inferno
            Solutions ваши данные останутся в
            сохранности, что бы ни произошло. Нашим клиентам не
            страшны хакерские
            атаки на их сайты или поломка информационных носителей,
            вирусы или
            техногенные бедствия. Наверное, только их данные
            останутся невредимы
            после апокалипсиса.
    </div>
</div>

<div class="advantage-item paymethod">
    <div class="item-title">Любые платёжные системы</div>

    <div class="description">
        Безналичный расчёт для юридических
            лиц, наличный расчёт, платёжные
            терминалы, денежные переводы и более 30 электронных
            платёжных систем.

        <a href="#">Полная свобода выбора!</a>
    </div>
</div>

<div class="advantage-item actions">
    <div class="item-title">Больше. Ещё больше!</div>

    <div clas="description">
        У нас вы всегда получите больше, чем
            выбрали. Каждый тариф
            сопровождается своими бонусами. Подписывайтесь на

        <a href="#">рассылку</a>

        и

        <a href="#">следите за открытыми акциями.</a>
    </div>
</div>
</div>