<div class="page-topmenu-wrapper">
    <div class="container-content">
        <div class="page-topmenu">
            <div>
                <a routerLink="/dedicated" class="">Преимущества</a>
                <a routerLink="/dedicated/tarifs">Популярные тарифы</a>
                <a routerLink="/dedicated/feedback">Отзывы</a>
                <a routerLink="/dedicated/help">Помощь</a>
                <a routerLink="/dedicated/pricing">Тарифы</a>
            </div>
        </div>
    </div>
</div>