
.short-line{
    margin-left: 9px;
    float: left;
    width: 178px;
    border: 1px solid #eaeaea;
    height: 43px;
    .price{
      font-family: 'Whitney-Medium', 'PT Sans', Arial, sans-serif;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.67;
      color: #8b7b7f;
      margin: 0;
      margin-left: 110px;
      position: absolute;
      text-align: right;
      width: 60px;
    }
    select{
      width: 178px;
      appearance: none;
      padding-top: 5px;
      padding-left: 12px;
      padding-right: 26px !important;
      background-color: #f7f7f7;
      font-family: 'Whitney-Semibold';
      font-size: 16px;
      line-height: 1.25;
      text-align: left;
      color: #231f20;
      border: none;
      padding-bottom: 17px;
    }
    .caret{
      content: '';
      position: relative;
      float: right;
      margin-top: 8px;
      margin-right: 4px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 5px 5px;
      border-color: transparent transparent #fec137 transparent;
    }
    p{
      padding-left: 12px;
      margin: -19px 0 0 0;
      font-family: 'Whitney-Medium', 'PT Sans', Arial, sans-serif;;
      font-size: 11px;
      font-weight: 500;
      line-height: 1.67;
      text-align: left;
      color: #8b7b7f;
      position: relative;
      padding-top: 20px;
      margin-top: -38px;
      margin-bottom: 0;
    }
  }

.wrapper-slider{
    width: 320px;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 130; 
    box-shadow: 0px 2px 3px 0px rgba(51,51,51,0.15), inset 0px -3px 0px 0px rgba(51,51,51,0.75);
    border: 1px solid #ccc;
    z-index: 111111111;
}
.input-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    width: 280px;
    margin-left: 10px;
    input{
        background-color: rgba(51,51,51,0.05);
        border: none;
        border-bottom: 1px solid #231f20;
        font-size: 16px;
        line-height: 20px;
        color: #333;
        width: 100%;
        font-family: whitney;
        font-weight: normal;
        height: 40px;
        width: 100px;
    }
    p{
        margin: 0;
        font-size:13px;
        font-family: 'Open Sans', 'PT Sans', Arial, sans-serif;
        color: #666666;
        padding-top: 0;
    }
}
.text-slider{
    margin: 10px 0 !important;
    font-size:13px!important;
    font-family: 'Open Sans', 'PT Sans', Arial, sans-serif!important;
    color: #999999!important;
    padding-top: 0!important;
}
.hide_slide{
    display: none;
}