<div class="page-content-wrapper">
    <div class="page-content-shape"></div>
    <div class="page-content-shape-ruler"></div>

    <div class="page-fixedcontent">
        <div class="page-solutions container-wmenu">
            <div class="bg-corner"></div>
        </div>
    </div>

    <div class="page-content">
        <div class="container-wmenu">
            <div class="container-content solutions">
                <div class="top-slider">
                    <div class="slide-box">
                        <div class="slide slide1">
                            <div class="slide-bg"></div>

                            <div class="slide-data">
                                <h2>Wordpress из коробки</h2>

                                <h3>
                                    один из лучших движков для вашего сайта
                                </h3>

                                <p>
                                    Работает быстро и надежно, более 5000 плагинов и 100000 тем офрмления.
                                </p>

                                <a
                                    href="#"
                                    class="details"
                                >Подробнее</a>

                                <a
                                    href="#"
                                    class="btn-add"
                                >
                                    Добавить

                                    <i class="bucket"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="page-slider-controls">
                        <span class="page-slider-control">/</span>

                        <span class="page-slider-control">/</span>

                        <span class="page-slider-control active">/</span>

                        <span class="page-slider-control">/</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-content-solid page-solutions-solid">
            <ul class="blocks-tabs">
                <li class="active">
                    <a href="#">Все</a>
                </li>

                <li>
                    <a href="#">Популярные</a>
                </li>

                <li>
                    <a href="#">Наш выбор</a>
                </li>

                <div class="clear"></div>
            </ul>

            <div class="search-box">
                <form
                    name="search-form"
                    action=""
                >
                    <input
                        type="text"
                        name="search-field"
                        placeholder="Поиск"
                    >

                    <input type="submit">
                </form>
            </div>

            <div class="clear"></div>

            <div class="cms-block cms-block-first">
                <div class="cms-element horizontal-1 drupal">
                    <span>Drupal</span>

                    <p>Бери, пока не упал!</p>

                    <ul class="rating-box white-star">
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                    </ul>

                    <a
                        class="btn-add"
                        href="#"
                    >
                        Добавить

                        <i class="bucket"></i>
                    </a>
                </div>

                <div class="cms-element horizontal-2 wordpress">
                    <span>Wordpress от Васи</span>

                    <p>Супер сборка!</p>

                    <div class="text-right">
                        <span>Выбор</span>

                        <p>Inferno Solutions</p>
                    </div>

                    <ul class="rating-box white-star">
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                    </ul>

                    <a
                        class="btn-add"
                        href="#"
                    >
                        Добавить

                        <i class="bucket"></i>
                    </a>

                    <div class="color-corner"></div>
                </div>

                <div class="cms-element horizontal-1 buddy-press">
                    <span>Buddy Press</span>

                    <p>
                        Социальная сеть на базе Wordpress
                    </p>

                    <ul class="rating-box black">
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                    </ul>

                    <a
                        class="btn-add"
                        href="#/solutions/elements"
                    >
                        Добавить

                        <i class="bucket"></i>
                    </a>
                </div>

                <div class="cms-element horizontal-1 cms-pack">
                    <span>CMS Pack</span>

                    <p>Сборка подборка!</p>

                    <ul class="rating-box black">
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                    </ul>

                    <a
                        class="btn-add"
                        href="#"
                    >
                        Добавить

                        <i class="bucket"></i>
                    </a>
                </div>

                <div class="cms-element horizontal-1 forum">
                    <span>Форум</span>

                    <p>
                        Обычный форум для бесед и разговоров
                    </p>

                    <ul class="rating-box black">
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                    </ul>

                    <a
                        class="btn-add"
                        href="#"
                    >
                        Добавить

                        <i class="bucket"></i>
                    </a>
                </div>

                <div class="clear"></div>
            </div>

            <div class="cms-block cms-block-second">
                <div class="cms-element horizontal-2 cms-camomile">
                    <span>CMS Romashka</span>

                    <p>
                        Уникальная CMS с крутыми штучками
                    </p>

                    <ul class="rating-box black">
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                    </ul>

                    <a
                        class="btn-add"
                        href="#"
                    >
                        Добавить

                        <i class="bucket"></i>
                    </a>
                </div>

                <div class="cms-element vertical email-server">
                    <span>Email server</span>

                    <p>Собственный емэил сервер</p>

                    <p class="text">
                        Удобное решение для вашей компании или для самих себя.
                    </p>

                    <ul class="rating-box black">
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                    </ul>

                    <a
                        class="btn-add"
                        href="#"
                    >
                        Добавить

                        <i class="bucket"></i>
                    </a>
                </div>

                <div class="cms-element horizontal-2 e-shop">
                    <span>eShop</span>

                    <p>Интернет магазин в 3 клика</p>

                    <div class="text-right">
                        <span>Выбор</span>

                        <p>Inferno Solutions</p>
                    </div>

                    <ul class="rating-box white-star">
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                    </ul>

                    <a
                        class="btn-add"
                        href="#"
                    >
                        Добавить

                        <i class="bucket"></i>
                    </a>

                    <div class="color-corner"></div>
                </div>

                <div class="clear"></div>
            </div>

            <a
                class="link show-more-btn"
                href="#"
            >Показать еще</a>

            <div class="transparent-sections">
                    
                    <app-comments></app-comments>
                    <app-help-and-contacts></app-help-and-contacts>
                    
                    <hr class="stick-bottom">
                    <section class="footer_hosting">
                            <p>Inferno Solution © 2017 ⁄ #NT Solution LLP,
                                Suite 4084, 10 Great Russel Streach, London &nbsp;
                                ⁄<a href="#">Правила Сервиса</a> ⁄ ...</p>
                    </section>
            </div>

        </div>
    </div>
    <hr class="stick-bottom">
</div>