<div class="single-page page-support">
    

    <div class="top-block">
        <div class="container-content">
            <h1
                class="page-support-title"
            >
                Поддержка

                <br>

                <span class="page-support-title-time">24-7-365</span>
            </h1>

            <div
                class="page-support-subtitle"
            >
                То, что нас отличает от других
            </div>

            <div
                class="support-box"
            >
                <ul class="page-support-title-list">
                    <li
                        class="page-support-title-list-item"
                        style="position: relative;"
                    >
                        <div class="icon-skype-sm page-support-title-icon"></div>

                        <a
                            class="page-support-title-list-item-link"
                            href="Skype:inferno.solutions?chat"
                            style="margin-left: 27px;"
                        >Skype: inferno.solutions</a>
                    </li>

                    <li class="page-support-title-list-line"></li>

                    <li class="page-support-title-list-item">
                        <div class="icon-email-sm page-support-title-icon"></div>

                        <a
                            class="page-support-title-list-item-link"
                            href="mailto:sales@inferno.name"
                        >sales@inferno.name</a>
                    </li>

                    <li class="page-support-title-list-line"></li>

                    <li class="page-support-title-list-item">
                        <div class="icon-comment-sm page-support-title-icon"></div>

                        <a
                            class="page-support-title-list-item-link"
                            href="#"
                        >Начать чат</a>
                    </li>

                    <li class="page-support-title-list-line"></li>

                    <li class="page-support-title-list-item">
                        <div class="icon-ticket-sm  page-support-title-icon"></div>

                        <a
                            class="page-support-title-list-item-link"
                            href="https://cp.inferno.name/supporttickets.php"
                        >Создать тикет</a>
                    </li>
                </ul>
            </div>

            <div class="page-support-search">
                <form action="">
                    <input
                        type="text"
                        placeholder="Поиск по базе данных"
                        value=""
                    >

                    <label for="supportsearch"></label>

                    <button
                        type="submit"
                        class="btn search"
                    >Искать</button>
                </form>
            </div>

            <hr>
        </div>
    </div>

    <div class="container-content main">
        <div class="row">
            <div class="col-md-1">
                <div class="page-questions-support">
                    <div class="page-questions-support-title">Администрирование</div>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <div class="page-questions-support-title">Интересная информация</div>

                    <app-collapse-item></app-collapse-item>

                    <div class="page-questions-support-title">Правила сервиса</div>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <div class="page-questions-support-title">Вопросы и ответы</div>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>
                </div>
            </div>

            <div class="col-md-1">
                <div class="page-questions-support">
                    <div class="page-questions-support-title">Регистрация доменов</div>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>
                    
                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <div class="page-questions-support-title">Заказ услуги</div>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <div class="page-questions-support-title">Начало работы</div>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <div class="page-questions-support-title">Общие вопросы</div>

                    <app-collapse-item></app-collapse-item>

                    <div class="page-questions-support-title">Оплата услуг</div>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <div class="page-questions-support-title">О компании</div>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <div class="page-questions-support-title">Архив акций</div>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <app-collapse-item></app-collapse-item>

                    <div class="page-questions-support-title">Партнерская программа</div>

                    <app-collapse-item></app-collapse-item>
                    
                    <app-collapse-item></app-collapse-item>
                </div>

                <!-- support -->
            </div>

            <!-- col-md1 -->
        </div>

        <!-- row -->
    </div>

    <!-- ./ container-content -->

    <div class="container-content">
        <div class="row">
            <hr>

            <div class="footer_hosting footer-support">
                <p>
                    Inferno Solution © 2017  ⁄  #NT Solution LLP, Suite 4084, 10 Great Russel Streach, London &nbsp;   ⁄

                    <a href="#">Правила Сервиса</a>

                    ⁄  ...
                </p>
            </div>
        </div>
    </div>

</div>