<section class="page-strong-features">
    <div class="page-titlebar">
        <h3 id="ppx">Наши сильные стороны</h3>
    </div>

    <div class="row lg-icon-row">
        <div class="col-md-3 col-sm-12 divider">
            <div class="icon-support-lg"></div>
            <div class="dark icon-support-md"></div>

            <h3
            >Не платите лишние деньги</h3>

            <p
            >
                И не напрягайтесь. Кто, как не мы знаем, как лучше администрировать наши сервера? Мы живём идеей максимального комфорта для вас и считаем, что проблемы клиента - наши проблемы. Поэтому мы не берем дополнительную плату за их решение.
            </p>
        </div>

        <div class="col-md-3 col-sm-12 divider">
            <div class="icon-monitor-lg"></div>
            <div class="dark icon-monitor-md"></div>

            <h3
            >
                Ваши сайты под живым контролем
            </h3>

            <p
            >
                Они должны быть доступны всегда. Наши эксперты узнают о проблемах на ваших сайтах моментально и исправляют их даже без вашего участия. Откройтесь жизни – отправляйтесь путешествовать! Мы всё сделаем за вас.
            </p>
        </div>

        <div class="col-md-3 col-sm-12 divider">
            <div class="icon-equipment-lg"></div>
            <div class="dark icon-equipment-md"></div>

            <h3
            >Открывая мир комфорта</h3>

            <p
            >
                Даже огромный веб-ресурс будет "летать" на наших VPS. подключение к сети на скорости 100 мбит без ограничения трафика – это хорошо. Почувствуйте!
            </p>
        </div>
    </div>

    <div class="row lg-icon-row">
        <div class="col-md-3 col-sm-12 divider">
            <div class="icon-resources-lg"></div>
            <div class="dark icon-resources-md"></div>

            <h3
            >Просто и быстро</h3>

            <p
            >
                Услуга is* transfer – наша гордость. Вам не придётся тратить своё время на "переезд" и волноваться за безопасность данных. Никаких потерь и рисков благодаря нашим технологиям и профессионализму специалистов. Даже без вашего участия.
            </p>
        </div>

        <div class="col-md-3 col-sm-12 divider">
            <div class="icon-backup-lg"></div>
            <div class="dark icon-backup-md"></div>

            <h3
            >
                Совершите открытие: технология Is* care
            </h3>

            <p
            >
                Наши клиенты больше не боятся форс-мажоров. Их данные защищены, а для их хранения используется надёжный кластер в ином датацентре. Ведь ваши данные и результаты труда бесценны!
            </p>
        </div>

        <hr>

        <div class="col-md-3 col-sm-12 divider">
            <div class="icon-paymethod-lg"></div>
            <div class="dark icon-paymethod-md"></div>

            <h3
            >Любые платёжные системы</h3>

            <p
            >
                Безналичный расчёт для юридических лиц, наличный расчёт, платёжные терминалы, денежные переводы и более 30 электронных платёжных систем. Полная свобода выбора!
            </p>
        </div>
    </div>
</section>