<section class="page-help hosting">
    <div class="container-content">
      <div class="col-2">
        <div class="page-titlebar">
          <h3 id="help">
            Помощь
  
            <span>
              <a href="https://cp.inferno.name/supporttickets.php">Задать вопрос</a>
            </span>
          </h3>
        </div>
  
        <div
          class="page-questions hosting-questions"
          
        >
          <ul>
            <li>
              <app-collapse-item is_show="true"></app-collapse-item>
            </li>
  
            <hr>
  
            <li>
              <app-collapse-item></app-collapse-item>
            </li>
  
            <hr>
  
            <li>
              <app-collapse-item></app-collapse-item>
            </li>
  
            <hr>
  
            <li>
              <app-collapse-item></app-collapse-item>
            </li>
  
            <hr>
  
            <li>
              <app-collapse-item></app-collapse-item>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="col">
        <div class="page-titlebar">
          <h3>Контакты</h3>
        </div>
  
        <ul
          class="page-contacts-options"
        >
        <p class="contackts-text">
          Duis aute irure dolor in reprehenderit 
        </p>
          <div class="page-contacts-options">
            <ul  class="contacts-marg">
              <li>
                <div class="icon icon-skype-sm"></div>
                <a href="skype:is*support?chat">is*support</a>
              </li>
              <hr class="hr-contacts">  

              <li>
                <div class="icon icon-email-sm"></div>
  
                <a href="mailto:support@is.co">support@is.co</a>
              </li>
              <hr class="hr-contacts"> 

              <li>
                <div class="icon icon-comment-sm"></div>
  
                <a>Начать чат</a>
              </li>
              <hr class="hr-contacts"> 
              
            </ul>
          </div>
  
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
  dolore eu fugiat nulla pariatur.
          </p>
        </ul>
      </div>
    </div>
</section>