<div class="transparent-sections">
    <div class="page-tabs-container">
        <section class="frees-features-list">
            <div class="row frees-list-row">
                <div class="col-md-3">
                    <div class="icon_hosting">
                        <img src="assets/img/avatars/icons/transfer.svg">
                    </div>

                    <h4
                        
                    >
                        Бесплатный перенос

                        <br>
                        ваших проектов
                    </h4>
                </div>

                <div class="col-md-3">
                    <div class="icon_hosting">
                        <img src="assets/img/avatars/icons/ Monitoring 2.svg">
                    </div>

                    <h4
                       
                    >
                        Мониторинг и

                        <br>
                        автовосстановление
                    </h4>
                </div>

                <div class="col-md-3">
                    <div class="icon_hosting">
                        <img src="assets/img/avatars/icons/Support.svg">
                    </div>

                    <h4
                        
                    >
                        Великолепная

                        <br>
                        техническая поддержка
                    </h4>
                </div>
            </div>

            <div class="row frees-list-row">
                <div class="col-md-3">
                    <div class="icon_hosting">
                        <img src="assets/img/avatars/icons/ Copy.svg">
                    </div>

                    <h4
                        
                    >
                        Бесплатное

                        <br>
                        резервное копирование
                    </h4>
                </div>

                <div class="col-md-3">
                    <div class="icon_hosting">
                        <img src="assets/img/avatars/icons/ DDOS Protection 2.svg">
                    </div>

                    <h4
                        
                    >
                        Бесплатная

                        <br>
                        защита от DDOS
                    </h4>
                </div>

                <div class="col-md-3">
                    <div class="icon_hosting">
                        <img src="assets/img/avatars/icons/ Admin.svg">
                    </div>

                    <h4
                        
                    >
                        Бесплатное

                        <br>
                        администрирование
                    </h4>
                </div>
            </div>
        </section>

        <hr>
    </div>
</div>