<div class="page-overlay-wrapper">
    <div class="page-overlay-shape"></div>
    
    <div class="page-overlay-outer">
        <div class="page-overlay">
            <div class="all">
                <div class="block_tuning_all block-turn-img">
                    <div>
                        <div class="block_tuning">
                            <div class="row">
                                <h1>Конфигурация тарифов VPS</h1>
                                <div>
                                    <app-select-box
                                    [items]="[{select:'Украина', id:'1'},{select:'Нидерланды', id:'2'}]"
                                    text="ЛОКАЦИЯ"
                                    class="long-line second_row"
                                    >                                        
                                    </app-select-box>

                                    <app-select-box
                                    [items]="[{select:'Linux', id:'1'},{select:'Нидерланды', id:'2'}]"
                                    text="OC"
                                    class="short-line second_row"
                                    >                                        
                                    </app-select-box>

                                    <app-select-box
                                    [items]="[{select:'Украина', id:'1'},{select:'Нидерланды', id:'2'}]"
                                    text="ЛОКАЦИЯ"
                                    class="long-line second_row"
                                    >                                        
                                    </app-select-box>

                                    <app-select-box
                                    [items]="[{select:'Linux', id:'1'},{select:'Нидерланды', id:'2'}]"
                                    text="OC"
                                    class="short-line second_row "
                                    >                                        
                                    </app-select-box>

                                    <app-static-box
                                    title="2.6 GHz"
                                    text= "ПРОЦЕССОР"
                                    >
                                    </app-static-box>

                                    <app-select-box
                                    [items]="[{select:'1024 Mb +', id:'1'},{select:'Нидерланды', id:'2'}]"
                                    text="ПАМЯТЬ"
                                    class="short-line second_row "
                                    >                                        
                                    </app-select-box>

                                    <app-select-box
                                    [items]="[{select:'25 Gb +', id:'1'},{select:'Нидерланды', id:'2'}]"
                                    text="ДИСК"
                                    class="short-line second_row "
                                    >                                        
                                    </app-select-box>

                                    <app-static-box
                                    title="2.6 GHz"
                                    text= "ПРОЦЕССОР"
                                    >
                                    </app-static-box>

                                    <app-static-box
                                    title="∞"
                                    text= "ТРАФИК"
                                    class="four-line-infine"
                                    >
                                    </app-static-box>

                                    <app-static-box
                                    title="XEN"
                                    text= "ПЛАТФОРМА"
                                    >
                                    </app-static-box>
                                    
                                    <app-select-box
                                    [items]="[{select:'CentOS 6.x', id:'1'},{select:'Нидерланды', id:'2'}]"
                                    text="ШАБЛОН ОС"
                                    class="long-line second_row"
                                    >                                        
                                    </app-select-box>

                                    <app-combo-select-slider
                                        
                                    ></app-combo-select-slider>
                                    
                                    <app-select-box
                                    [items]="[{select:'ISP Manager Lite', id:'1'},{select:'Нидерланды', id:'2'}]"
                                    text="ПАНЕЛЬ УПРАВЛЕНИЯ [?]"
                                    class="long-line second_row"
                                    >                                        
                                    </app-select-box>

                                    <app-static-box
                                    title="Бесплатно"
                                    text= "DDOS Защита"
                                    class="seventh-line"
                                    >
                                    </app-static-box>
                                    
                                    <app-select-box
                                    [items]="[{select:'Расширение', id:'1'},{select:'Нидерланды', id:'2'}]"
                                    text="АДМЕНИСТРИРОВАНИЕ [?]"
                                    class="long-line second_row"
                                    >                                        
                                    </app-select-box>
                                    <app-select-box
                                    [items]="[{select:'ISP Manager Lite', id:'1'},{select:'Нидерланды', id:'2'}]"
                                    text="ПАНЕЛЬ КОПИРОВАНИЕ [?]"
                                    class="long-line second_row"
                                    >                                        
                                    </app-select-box>

                                </div>

                                <app-collapse-box>
                                </app-collapse-box>

                                <app-pricing-box
                                [items]="[
                                {price:'10.00 USD',moneyOff:'',period:'В МЕСЯЦ', id: 1},
                                {price:'28.00 USD',moneyOff:'-5%',period:'ЗА 3 Месяца', id: 2},
                                {price:'54.00 USD',moneyOff:'-10%',period:'ЗА ПОЛ ГОДА', id: 3},
                                {price:'108.00 USD',moneyOff:'-15%',period:'ЗА ГОД', id: 4}
                               ]"
                                ></app-pricing-box>
                            </div>

                            <div class="border">
                                <div class="btn_border-"></div>
                                <div class="border_text"></div>
                            </div>

                            <div class="scroll">
                                <div class="border-content">
                                    <div class="btn_border-">
                                        <object
                                            type="image/svg+xml"
                                            data="assets/img/group-7 (1).svg"
                                        ></object>
                                    </div>

                                    <div class="border_text">
                                        <h2>
                                            Выиграй путешествие в Тунис, просто купи VPS и ты в игре!
                                        </h2>

                                        <p>
                                            Условия акции узнаешь после покупки ;) Наслаждайтесь!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list">
                <div class="block first_block">
                    <div class="img">
                        <img
                            src="assets/img/avatars/icons/ DDOS Protection 2.svg"
                            alt="#"
                        >
                    </div>

                    <div class="list-text">
                        <hr>

                        <h3>DDOS Защита</h3>

                        <p>
                            Вы защищены от пиратов и бандитов 21 века. Бонус к серверам в
                Нидерландах - бесплатная защита от DDOS атак.
                Ваши проекты под нашей защитой.
                        </p>

                        <hr>
                    </div>
                </div>

                <h5>Бесплатно</h5>

                <div class="block">
                    <div class="img">
                        <img
                            src="assets/img/avatars/icons/ Care.svg"
                            alt="#"
                        >
                    </div>

                    <div class="list-text">
                        <h3>Не платите лишние деньги</h3>

                        <p>
                            И не напрягайтесь. Кто, как не мы знаем, как лучше
                администрировать наши сервера? Мы живём идеей максимального
                комфорта для вас и считаем, что проблемы клиента - наши
                проблемы. Поэтому мы не берем дополнительную плату за их
                решение.
                        </p>
                    </div>
                </div>

                <div class="block">
                    <div class="img">
                        <img
                            src="assets/img/avatars/icons/ Monitoring 2.svg"
                            alt="#"
                        >
                    </div>

                    <div class="list-text">
                        <h3>
                            Ваши сайты под живым контролем
                        </h3>

                        <p>
                            Они должны быть доступны всегда. Наши эксперты узнают о
                проблемах на ваших сайтах моментально и исправляют их даже
                без вашего участия. Откройтесь жизни – отправляйтесь
                путешествовать! Мы всё сделаем за вас.
                        </p>
                    </div>
                </div>

                <div class="block">
                    <div class="img">
                        <img
                            src="assets/img/avatars/icons/transfer.svg"
                            alt="#"
                        >
                    </div>

                    <div class="list-text">
                        <h3>Просто и быстро</h3>

                        <p>
                            Услуга

                            <span class="text_logo">
                                is

                                <span>*</span>

                                transfer
                            </span>

                            –
                наша гордость. Скольких пользователей мы обрадовали быстрым
                и грамотным переездом. Никаких потерь и рисков. И вам ничего
                не нужно делать, только изменить IP в настройках вашего
                домена и проверить работу сайтов на новом сервере.
                        </p>
                    </div>
                </div>

                <div class="block">
                    <div class="img">
                        <img
                            src="assets/img/avatars/icons/Upload.svg"
                            alt="#"
                        >
                    </div>

                    <div class="list-text">
                        <h3>
                            Совершите открытие: технология

                            <span class="text_logo">
                                is

                                <span>*</span>

                                care
                            </span>
                        </h3>

                        <p>
                            Наши клиенты больше не боятся форс-мажоров. Их данные
                защищены, а для их хранения используется надёжный кластер в
                ином датацентре. Ведь ваши данные и результаты труда
                бесценны!
                        </p>
                    </div>
                </div>

                <div class="block">
                    <div class="img">
                        <img
                            src="assets/img/avatars/icons/ Test.svg"
                            alt="#"
                        >
                    </div>

                    <div class="list-text">
                        <h3>Тестируйте нас</h3>

                        <p>
                            Мы не продаём кота в мешке. У вас есть две недели на

                            <span class="text_logo">
                                is

                                <span>*</span>

                                trial
                            </span>

                            (тестовый период), чтобы понять, что идеальный хостинг
                существует. Полный root доступ, выделенный IP, управление
                конфигурацией, кристальная честность в отношении клиента и
                неподражаемое обслуживание!
                        </p>
                    </div>
                </div>

                <div class="block second_block">
                    <div class="img">
                        <img
                            src="assets/img/avatars/icons/PDF.svg"
                            alt="#"
                        >
                    </div>

                    <div class="list-text">
                        <hr>

                        <h3>Скачайте PDF</h3>

                        <p>
                            Скачайте PDF файл со всеми тарифами, покажите начальнику,
                клиенту или вашим колллегам.
                        </p>

                        <h4>
                            <a href="#">Скачать</a>

                            <span>/</span>

                            <a href="#">
                                Отправить
                    на email
                            </a>

                            <span>/</span>

                            <a href="#">
                                Расшарить в
                    сетях
                            </a>
                        </h4>
                    </div>
                </div>

                <div class="block last_block">
                    <div class="img">
                        <img
                            src="assets/img/avatars/icons/ Setting.svg"
                            alt="#"
                        >
                    </div>

                    <div class="list-text">
                        <hr>

                        <h3>Дополнительные услуги</h3>

                        <p>
                            Установка популярных CMS

                            <br>
                            Установим вам любую из популярных CMS из нашего

                            <a href="#">
                                каталога
                    готовых решений.
                            </a>
                        </p>

                        <hr>
                    </div>
                </div>
            </div>

            <app-help-and-contacts class="pricing-help-new"></app-help-and-contacts>

            <section class="footer_hosting">
                <p>
                    Inferno Solution © 2017 ⁄ #NT Solution LLP, Suite 4084, 10
        Great Russel Streach, London

                    <br>
                    &nbsp; ⁄

                    <a href="#">Правила
            Сервиса</a>

                    ⁄ ...
                </p>
            </section>
        </div>
    </div>

    <div class="page-rollout-wrapper">
        <div class="page-rollout"></div>
    </div>
</div>