<div  class="page-question" [ngClass]="{expanded:is_show}" (click)="clicker()">
    <div  class="page-question-header">
      <div  class="page-question-icon"></div>

      <span>
        Seductus ut perspiciatis natus
      </span>
    </div>

    <div  class="page-question-body text_show" >
      <p>
        Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
      </p>

      <a>Подробнее...</a>
    </div>
  </div>