<section class="page-reviews-wrapper">
    <div class="page-titlebar">
        <h3 id="feedback">Мнения наших клиентов</h3>

        &nbsp;

        <a>Оставить отзыв</a>
    </div>

    <div
        class="page-reviews"
        
    >
        <div class="col">
            <a
                href="https://searchengines.guru/showpost.php?p=15041180&amp;postcount=669"
                class="review-item review-item-md"
            >
                <div class="review-text">
                    Пользуюсь данным хостингом с 2013 года. Тех. поддержка всегда на высоте. За все время ноль проблем.
                </div>

                <div class="review-author">
                    <img
                        src="assets/img/avatars/alex.jpg"
                        alt="seolink74"
                    >

                    <span class="review-author-name">seolink74</span>
                </div>
            </a>

            <a
                href="https://searchengines.guru/showpost.php?p=14846101&amp;postcount=612"
                class="review-item review-item-md"
            >
                <div class="review-text">
                    Служба поддержки всегда на высоте, любой вопрос решается своевременно и на достойном уровне. Спасибо за качество!
                </div>

                <div class="review-author-premium">
                    <img
                        src="assets/img/avatars/antonio.jpg"
                        alt="6o6aH"
                    >

                    <span class="review-author-name">6o6aH</span>
                </div>
            </a>
        </div>

        <div class="col">
            <a
                href="https://searchengines.guru/showpost.php?p=14897413&amp;postcount=642"
                class="review-item review-item-lg"
            >
                <div class="review-text">
                    С инферно уже несколько лет и менять пока не планирую. Все работает стабильно, о работах заранее сообщается, техническая поддержка оказывается по любым вопросам, быстрая и качественная. Ко всему прочему можно отметить что часто бывают различные акции, в том числе со скидками для новых и действующих клиентов, что не может не радовать.
                </div>

                <div class="review-author">
                    <img
                        src="assets/img/avatars/gogol.jpg"
                        alt="Authority"
                    >

                    <span class="review-author-name">Authority</span>
                </div>
            </a>
        </div>

        <div class="col">
            <a
                href="https://searchengines.guru/showpost.php?p=14862573&amp;postcount=619"
                class="review-item review-item-md"
            >
                <div class="review-text">
                    Работаю с inferno с 2012 года, сервер мой без особой нагрузки, так сказать минимальное использование, но...
                </div>

                <div class="review-author">
                    <img
                        src="assets/img/avatars/ann.jpg"
                        alt="insigonet"
                    >

                    <span class="review-author-name">insigonet</span>
                </div>
            </a>

            <a
                href="https://searchengines.guru/showpost.php?p=14835439&amp;postcount=608"
                class="review-item review-item-md"
            >
                <div class="review-text">
                    Поддержке нет равных. Спасибо, что идете на встречу и помогаете решать любые проблемы.
                </div>

                <div class="review-author-premium">
                    <img
                        src="assets/img/avatars/cybertigro.jpg"
                        alt="SeOl"
                    >

                    <span class="review-author-name">SeOl</span>
                </div>
            </a>
        </div>

        <div class="col"></div>
    </div>
</section>